#names ul {
	list-style: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(170, 154, 104, 0.74);

} 

li {
    width: 300px;  
}

ul{
    height: 400px;
}

#title{
    font-size: 22px;
}

#names li.name {
    cursor:pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
    
}

#names li.name{
    -webkit-transition:font-size .2s; /* For Safari 3.1 to 6.0 */
    transition:font-size .2s;
}

#names li.name:hover{
    font-size: 27px;
    color: #231132;
}

.hidden{
    display: none;
}


#biography {
    float: right;
    display: inline-block;
    width: 50%;
    background-color: rgba(185, 72, 51, 0.88);;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px;
}

#biography_img{
    border-radius: 130px;
    width: 200px;
}

.linkedin{
    width: 80px;
    height: 18px;
    margin-top: 15px;
}

#biography h2{
    color: #810000;
    font-size: 30px;
}

#biography h3{
    color: #9a0b0b;
    font-size: 19px;
}

#names {
    float: left;
    display: inline;
    font-size: relative;
    margin: 4px;
    margin-left: 80px;
    /*border: 2px solid;*/
    padding-bottom: 50px;
}



