
#video{
	background-color: red;
}

#announements{
    float: left;
	border: 3px solid #000;
	height: 225px;
	width: 450px; 
	margin-left: 5px;
	margin-right: auto;
    border-radius: 10px; 
}
h4 {
    font-size: 35px;
    margin: 0px;
}

a:link {
    text-decoration: underline;
}

#recentnews {
    border: 3px solid;
    border-radius: 20px;
    width: 550px;
    float: right;
    height: 225px;
    margin-right: 20px;
}

span {
    color: #b11515;
}


