
#video{
	background-color: red;
}

#floatingsocial{
    border: 0px solid #b28484;
    width: 4.0%;
    height: auto;
    margin-left: 8.0%;
    margin-top: 20%;
    position: fixed;
    float: left;
    vertical-align:middle;
    
}

#announements, #recentnews{
    float: left;
	border: 0px solid #000;
	height: 225px;
	width: 45%; 
    border-radius: 10px; 
    background: rgba(185, 72, 51, 0.78);
}

#announements{
    margin-left: 114px;
    height: 145px;
    margin-top: 20px;
    width: 30%;
}

#recentnews{
    margin-right: 15px;
    margin-left: 25px;
    margin-top: 30px;
}

#frontimage{
    float: left;
    width: 45%;
    height: 400px;
    margin-left: 10px;
    margin-top: 20px;
    border: 5px solid rgba(185, 72, 51, 0.78);;
}

h4 {
    font-size: 35px;
    margin: 0px;
}

#titlebar img{
    display: inline;
    width: 19%;
}

#titlebar .pic{
    width: 40%;
}

a:link {
    text-decoration: underline;
}

/*#recentnews {
    border: 0px solid;
    border-radius: 20px;
    width: 45%;
    float: right;
    height: 225px;
    margin-right: 20px;
    background: rgb(185, 72, 51);
} */

span {
    color: #1c641c;
}


