html{
	
}

* {
    padding: 0px;
    margin: 0px
}

h2{
    font-size: 23px;
    color: rgb(193, 72, 50);
    font-family: "Bevan"; 
    font-weight: 800;
    
}

a{
    font-family: "Bevan";
    color: black;
}

h3{
    font-family: "Bevan";
    color: rgb(177, 85, 85);
}


body {

	background-color: rgba(209, 180, 140, 0.63);
	text-align: center; 
}

#container{
	width:77%;
	margin:20px auto;
    margin-top: 0px;
    background: rgb(234, 227, 186);
    overflow: auto;
}

#titlebar {
    background: #712626;
    margin: -1px;
    padding-bottom: 7px;
    padding-top: 8px;
}

#titlebar img{
    width: 64px;
    height: 70px;
}

p {
    font-family: "Open Sans", sans-serif;
}

#floatingsocial{
    border: 0px solid #b28484;
    width: 3.5%;
    height: auto;
    margin-left: 7.7%;
    margin-top: 20%;
    position: fixed;
    float: left;
    vertical-align:middle; 
    border-radius: 10px;
    box-shadow: -3px 2px 13px #888888;
    background: rgba(222, 185, 122, 0.62);
}

.button{
    background: rgba(222, 185, 122, 0.62);
}

.button a img{
    margin: auto;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    margin: 15%;
}

#facebookbutton{
    border-top-left-radius: 30%;
    border-top-right-radius: 10px;
}

#nsbebutton{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button:hover{
    background: rgba(195, 153, 80, 0.62);
}

