html{
	
}

* {
    padding: 0px;
    margin: 0px
}

h2{
    font-size: 23px;
    color: rgb(193, 72, 50);
    font-family: "Bevan"; 
    font-weight: 800;
    
}

a{
    font-family: "Bevan";
    color: black;
}

h3{
    font-family: "Bevan";
    color: rgb(177, 85, 85);
}


body {

	background-color: rgba(209, 180, 140, 0.63);
	text-align: center; 
}

#container{
	width:75%;
	margin:20px auto;
    margin-top: 0px;
    background: rgb(234, 227, 186);
    overflow: auto;
}

#titlebar {
    background: #712626;
    margin: -1px;
    padding-bottom: 7px;
    padding-top: 8px;
}

#titlebar img{
    width: 90px;
    height: 70px;
}

p {
    font-family: "Open Sans", sans-serif;
}
