#menu{
	margin: 0 auto;
    margin-top: 1px;
	text-align: center;
    height: 40px;
    background-color: #993300;
    padding: 0;
}


#menu li {
    list-style: none;
    float: left;
    width: 14.26%;
}


#menu a {
	list-style: none;
	float: left;
	text-align: center;
    line-height: 40px;
    color: white;
	width: 100%;
    

} 

ul {
    border-radius: 10px;
    padding-left: 0px;
}

#menu a.item:hover{
    background-color: red;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    
}

a:visited {
    text-decoration: none;
    color: black;
}

.item {
    height: 40px;
    background-color: #660000;
    border: 1px solid black;
    border-radius: 10px;
    display: inline;
    font-family: "Helvetica", sans-serif;
    margin: auto;
}

.SELitem{
height: 40px;
    width: 130px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #CC6633;
    border-width: 1px;
    display: inline;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin: auto;
}
