#menu{
	margin: 0;
    margin-top: 1px;
	text-align: center;
    height: 40px;
    background-color: #993300;
    padding: 0;
}


#menu li {
    list-style: none;
    float: left;
    width: 14.26%;
}


#menu a {
	list-style: none;
	float: left;
	text-align: center;
    line-height: 40px;
    color: white;
	width: 100%;
    

} 

ul {
    border-radius: 10px;
    padding-left: 0px;
}

#menu a.item:hover{
    color: rgb(0,166,80);
    
}

#menu a {
    text-decoration: none;
    color: #fdd;
    font-size: 100%;
    
}

a:visited {
    text-decoration: none;
    color: black;
}

.item {
    height: 40px;
    background-color: rgba(93, 0, 0, 0.97);
    border: 0x solid black;
    border-radius: 0px;
    display: inline;
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    
    margin: auto;
}

.SELitem{
    height: 40px;
    width: 130px;
    border: 0px solid black;
    border-radius: 0px;
    background-color: rgba(93, 0, 0, 0.17);
    border-width: 0px;
    display: inline;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin: auto;
}
