
table {
    /*border: 1px solid black;*/
}

tr {
    /*border: 1px solid black;*/
}

td {
    /*border: 1px solid black; */
    height: 90px;
    margin: 30px;
    padding: 5px;
}

.newsstyle1 {
    background: #bf2e2e;
}

.newsstyle2 {
    background: #6f2020;
}

#newstable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}



.date {
    width: 120px;
    background: rgb(234, 227, 186);
    font-size: 25px;
    color: rgba(155, 155, 101, 0.56);
    font-family: sans-serif, "Helvetica";
    font-weight: 800;
}


.story {
    width: 640px;
    padding: 35px;
    border-radius: 10px;
}

.story p{
    color: rgba(181, 181, 94, 0.99);
}


#news3item {
    display: inline-block;
}

#newstable h3{
    margin: 10px;
    font-family: "Bevan";
    font-size: 27px;
}

.newsstyle2 h3 {
    color: #317b27;
}

.newsstyle1 h3{
    color: #5a1919;
}



