
table {
    /*border: 1px solid black;*/
}

tr {
    /*border: 1px solid black;*/
}

td {
    /*border: 1px solid black; */
    height: 90px;
    margin: 30px;
    padding: 5px;
}

.newsstyle1 {
    background: rgba(191, 46, 46, 0.79);
}

.newsstyle2 {
    background: rgba(111, 32, 32, 0.95);
}

#newstable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.sharebutton{
    width: 80px;
    height: 20px;
    float: right;
    margin: 10px;
    border: none;
}

.fb-share-button{
    display: none;
}



.date {
    width: 120px;
    background: rgb(234, 227, 186);
    font-size: 25px;
    color: rgba(155, 155, 101, 0.56);
    font-family: sans-serif, "Helvetica";
    font-weight: 800;
}


.story {
    width: 640px;
    padding: 35px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.story p{
    font-size: 15px;
    color: rgba(38, 15, 15, 0.99);
    font-weight: bolder;
}


#news3item {
    display: inline-block;
}

#newstable h3{
    margin: 10px;
    font-family: "Bevan";
    font-size: 27px;
}

.newsstyle2 h3 {
    color: #1d2f20;
}

.newsstyle1 h3{
    color: #5a1919;
}



