/*
.purposeitem {
    border: 1px solid black;
    padding: 20px;
} */

#purposemenu {
    list-style: none;
    /*border: 1px solid black;*/
    width: 20%;
    float: left;
    margin: 5%;
    clear: none;
}

#purposemenu li {
    height: 55px;
    border: 1px solid; 
}

#purposemenu a{
    display: block; /*THIS IS IMPORTANT TO LIFE */
    height: 100%;
    width: 100%;
    background-color: #5d0000;
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 20px;
}


#purposemenu a:hover{
    background-color: rgb(193, 72, 50);
}

#description{
    display: inline-block;
    margin: 5%;
    width: 60%;
    min-height: 175px;
    background: rgba(185, 72, 51, 0.78);
    border-radius: 10px;
}

.hidden{
    display: none;
}

h3{
    color: #5d0000;
    font-size: 30px;
    margin-bottom: 10px;
}