
p{
    text-align: left;
    margin-bottom: 5px;
    
}

li {
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

#description ul{
    margin-bottom: 7px;
}

#purposemenu {
    list-style: none;
    width: 20%;
    float: left;
    margin: 5%;
    clear: none;
}

#purposemenu a{
    display: block; /*THIS IS IMPORTANT TO LIFE */
    height: 100%;
    width: 100%;
    background-color: #5d0000;
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 20px;
}


#purposemenu a:hover{
    background-color: rgb(193, 72, 50);
}

#description{
    display: inline-block;
    float: right;
    width: 60%;
    min-height: 400px;
    margin: 20px;
    margin-right: 95px;
}

.hidden{
    display: none;
}

#description h3{
    color: #5d0000;
    font-size: 30px;
    margin-bottom: 10px;
}

#menucol {
    background: rgb(131, 27, 27);
    float: left;
    position: absolute;
    width: 15%;
    height: 60%;

}

.purposebutton {
    background-color: transparent;
    /*border-bottom: 1px solid black;    */
}

.purposebutton:hover{
    background-color: #9a4d4d;
    cursor: pointer;
}

.purposebutton p{
    font-size: 24px;
    color: tan;
    font-family: "Bevan";
    padding: 10px;
}
